.full-screen-product-conatiner {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  z-index: 10000000;
  background-color: #000000d7;
}

.small-product-conatiner {
  background-color: white;
  height: 606px;
  max-height: 90%;
  width: 1301px;
  max-width: 90%;
  padding: 3vw;
}

.close-product-pop-up-btn {
  width: 1.9vw;
  height: 1.9vw;
  margin: 1vw;
  position: absolute;
  left: 14vw;
  top: 7vw;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  outline: none;
  border: 2px solid black;
}

.close-product-pop-up-btn:hover {
  cursor: pointer;
  background-color: #f84a72;
  border: 2px solid #f84a72;
  color: white;
}
