
.filtering-side-menu {
  display: block;
  height: 100%;
  background-color: black;
  position: fixed;
  width: 14%;
  right: 0;
  top: 0;
  color: white;
  direction: rtl;
  padding: 2vw;
}

.reset-filtering {
  text-decoration: underline;
  font-size: 1vw;
}

.reset-filtering:hover {
  cursor: pointer;
}

.date-filtering-box {
  background-color: black;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  margin-top: 3.5vw;
}

.products-titles,
.campaigns-titles {
  margin-top: 0.6vw;
}

.campaigns-filtering-area {
  margin-top: 4vw;
}

.products-filtering-area {
  margin-top: 2vw;
}

.campaign-filtering-title {
  font-weight: bold;
  padding-bottom: 1vw;
  font-size: 1.1vw;
}

.products-filtering-title {
  font-weight: bold;
  padding-bottom: 1vw;
  font-size: 1.1vw;
}

.campaign-name-title {
  display: block;
  padding: 0.1vw;
  font-size: 1vw;
  position: relative;
  right: 1.6vw;
  bottom: 0.2vw;
}

br {
  margin: 0;
  padding: 0;
}

.url-sharing-area {
  background-color: #f84a72;
  width: 100%;
  padding: 0 !important;
  position: absolute;
  right: 0;
  bottom: 4vw;
  height: 3vw;
  text-align: center;
  line-height: 3vw;
  color: white;
  font-weight: bold;
  font-size: 0.9vw;
  border: 1px solid #f84a72;
}

.url-sharing-area:disabled{
  background-color: #fd7292;
}

.url-sharing-area:disabled:hover{
  cursor: not-allowed;
}

.url-sharing-area:hover {
  cursor: pointer;
}

.container-for-check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-for-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  height: 0.9vw;
  width: 0.9vw;
  background-color: transparent;
  border: 1px solid white;
}

.container-for-check:hover input ~ .checkmark {
  background-color: transparent;
  border: 1px solid #f84a72;
}

.container-for-check input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #f84a72;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-for-check input:checked ~ .checkmark:after {
  display: block;
}

.container-for-check .checkmark:after {
  top: -0.3vw;
  width: 0.4vw;
  height: 0.8vw;
  border: solid white;
  border-width: 0 1.8px 1.8px 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.daterangepicker{
  background-color: white !important;
}
.calendar-table{
  background-color: white !important;
  color: black !important;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #f84a72 !important;
  border-color: white !important;
}

.daterangepicker .drp-selected{
  color: white !important;
}

.daterangepicker .drp-buttons .btn{
  color: white !important;
  background-color: #f84a72 !important;
  border: 1px solid #f84a72 !important;
  outline: none;

}

.daterangepicker:hover .drp-buttons:hover .btn:hover{
  background-color: #fd7292 !important;
  border: 1px solid #fd7292 !important;

}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(175, 175, 175) !important;
}


.daterangepicker td.in-range{
background-color: #ffd2dc !important;
}

.calendar-table > .off{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
background-color: #f84a72 !important;
}

.date-picker-btn{
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 90%;
  font-size: 1vw;
  position: relative;
  margin-top: 52px;
  height: 3vw;
  letter-spacing: 0.4vw;
  text-align: right;
}

.date-range-icon{
  position: absolute;
  direction: ltr;
  left: 0;
}