.auth {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-box {
  position: relative;
  width: 1000px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: block;
}

.auth-logo {
  width: 10vw;
  margin: 2vw;
}

.auth-box > h1 {
  font-weight: 900;
}

.phone-box {
  width: 34%;
  outline: none;
  border: none;
  height: 3vw;
  text-align: left;
  font-size: 2vw;
  border-bottom: 4px solid black;
}

.code-box {
  width: 25%;
  outline: none;
  border: none;
  height: 3vw;
  text-align: left;
  font-size: 2vw;
  border-bottom: 4px solid black;
  margin: 3vw;
  animation: fadeIn 1s;
}



.auth-code-btn{
    background-color: black;
    color: white;
    border: 2px solid;
    width: 14vw;
    height: 3vw;
    font-size: 2vw;
    animation: fadeIn 1s;
}

.message {
    position: relative;
    font-size: 1vw;
    position: relative;
    top: 1vw;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.auth-code-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.code-box::placeholder {
  font-size: 1vw;
  text-align: center;
}

.phone-box::placeholder {
  font-size: 1.2vw;
  text-align: center;
}

.send-btn {
  width: 6vw;
  margin-right: 1vw;
  height: 2.4vw;
  border: 2px solid black;
  background-color: white;
  font-size: 1.3vw;
  top: 0.5vw;
  position: relative;
  border-radius: 30px;
}

.send-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
